* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-size: 3.815rem;
    font-weight: 600;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

body {
    padding: 0 100px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left-side right-side";
    align-items: center;
}

.left-side {
    grid-area: left-side;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-side .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-side .links {
    display: flex;
    gap: 20px;
}

.left-side .links > button {
    background-color: transparent;
    border: 2px dashed red;
    padding: 8px 12px;
    border-radius: 64px;
    font-size: 20px;
    line-height: 16px;
}

.right-side {
    grid-area: right-side;
}

.right-side .img-container img {
    border-radius: 36px;
}

.hero-image {
    max-height: 610px;
    max-width: 100%;
    object-fit: fill;
}

