* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: lightblue;
    color: darkblue;
    padding: 1em;
}

button {
    border: none;
    background-color: transparent;
}

aside {
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
    align-self: start;
    grid-area: sidebar;
    background-color: gray;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background: lightblue;
    color: darkblue;
    padding: 2em;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        width: 300px;
        display: none;
    }

    .show {
        display: block;
    }
}